{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        html { padding: 0 50px; }
        header { margin: 0 0 40px; }
        form {padding: 50px; border: 1px grey solid; border-radius:5px;}
        div {position:absolute; right:10px; top:5px;
        }
    </style>
</head>

<body>
    <header>
        <!-- csrf_token only used in the form -->
        <!-- {% csrf_token %} --> 
      
        <div>
            <button type="button" onclick="/signIn"><a href="{% url 'log' %}">LogOut</a></button>
        </div>
        <h1>Welcome {{e}}</h1>
    </header>


    <form action="/postmessage/" method="post">
        {% csrf_token %}
        <label for="message">Tasks :</label>
        <input type="text" name="message" value="" required placeholder="Your task here"/>
        <input type="submit" value="save"/>
    </form>

    {% if m %}
    <table>
        {% for key, message in m.items %}
            <tr>
                <td class="{{key}}">{{message}}</td>
                
            </tr>

         
        {% endfor %}
    </table>

    {% endif %}
    <p>Tasks: {{to_do}}</p>
</body>
</html>